{% extends "layout.html" %}

{% block title %}
    Bach
{% endblock %}

{% block header %}
    Johann Sebastian Bach
{% endblock %}

{% block main %}
    <div class="container">
        <img alt="bach" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Johann_Sebastian_Bach.jpg">

    <!-- Biographical information -->
        <p class="card1"> <b>Johann Sebastian Bach (1685-1750) </b>was a German composer and musician of the Baroque period, widely regarded as one of the greatest composers in the history of Western classical music.
            Born into a musical family, Bach's early career involved various positions as a court musician and organist.
            His music is characterized by intricate counterpoint, harmonic sophistication, and a profound understanding of musical structure.
            Bach's contributions to music are immense, particularly in the development of the fugue and the exploration of complex polyphony.
            His works encompass a wide range of genres, including sacred and secular music, vocal and instrumental compositions.
            Some of his most famous pieces include the Brandenburg Concertos, the Mass in B Minor, the Goldberg Variations, and the Well-Tempered Clavier.
            Bach's compositions have had a lasting impact on the development of Western classical music, and his legacy continues to be celebrated and studied worldwide.</p>

    <!-- Videos of famous pieces -->
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LHjbRMIIhuM?si=MyZMb_860t4JZbP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/23yt2GIFguw?si=_ZcocJ_r_UMy1zXD&amp;start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ghTitIMtTCM?si=_Vk3EprzRl5_nETx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

{% endblock %}
