{% extends "layout.html" %}

{% block title %}
    Chopin
{% endblock %}

{% block header %}
Frederic Chopin
{% endblock %}

{% block main %}
    <div class="container">
        <img alt="chopin" src="https://i.scdn.co/image/ab6761610000e5ebe55372097569b7b56b439365">

        <p class = "card1"> <b>
            Frédéric Chopin (1810–1849)</b>, a Polish-born composer and virtuoso pianist, stands as one of the foremost figures of the Romantic era in classical music.
            Born on March 1, 1810, near Warsaw, Chopin displayed remarkable musical talent from an early age.
            After completing his education in Warsaw, he moved to Paris, where he spent much of his adult life.
            Chopin's compositions, primarily for the piano, are celebrated for their poetic and expressive qualities, showcasing his profound understanding of the instrument.
            His extensive body of work includes nocturnes, waltzes, mazurkas, and the famous piano études, all marked by their melodic richness and emotional depth.
            Chopin's music, often characterized by its delicate lyricism and nuanced emotional range, has left an enduring impact on classical music and continues to be cherished by musicians and audiences alike.
            He succumbed to illness at the age of 39, on October 17, 1849, in Paris, leaving behind a legacy as a master of the Romantic piano repertoire.</p>

            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BSFNl4roGlI?si=O6tsMh2loM12t4xF&amp;start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iliNPUB9GSA?si=XLRi8dm7HIEo-N3j&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/SFMgSwcgaRE?si=m5kpmJUMVFSkEtdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

{% endblock %}
