{% extends "layout.html" %}

{% block title %}
    Debussy
{% endblock %}

{% block header %}
    Claude Debussy
{% endblock %}

{% block main %}
    <div class="container">
        <img height=50% width=50% alt="debussy" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Claude_Debussy_ca_1908%2C_foto_av_F%C3%A9lix_Nadar.jpg">

        <p class = "card1"> <b>Claude Debussy (1862–1918)</b>, a French composer and a leading figure in Impressionist music, left an indelible mark on the world of classical music.
        Born on August 22, 1862, in Saint-Germain-en-Laye, France, Debussy's revolutionary approach to harmony, form, and orchestration redefined the musical landscape of the late 19th and early 20th centuries.
        His groundbreaking compositions, such as "Prélude à l'après-midi d'un faune" and "Clair de Lune," embraced evocative, atmospheric textures and blurred tonalities, giving rise to the term "musical Impressionism."
        Debussy's rejection of traditional rules and his exploration of non-Western scales and modalities showcased his innovative spirit.
        Despite personal and health challenges, he continued to create until his death on March 25, 1918. Debussy's legacy endures, influencing generations of composers and leaving behind a body of work that captures the essence of his avant-garde musical vision.
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yri2JNhyG4k?si=W8HQVpbpMWmpT6Gf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SSlgnFVrSXU?si=_caIDxar2bmOXuAi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I-kZN97ir_4?si=YKpal26PKAPZBP0K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

{% endblock %}
