{% extends "layout.html" %}

{% block title %}
    Gershwin
{% endblock %}

{% block header %}
    George Gershwin
{% endblock %}

{% block main %}
    <div class="container">
        <img height = 50% width=50% alt="gershwin" src="https://m.media-amazon.com/images/M/MV5BMTIyMTI5NDIxNV5BMl5BanBnXkFtZTYwMTQxNjI2._V1_.jpg">

        <p class = "card1"> <b>
            George Gershwin (1898–1937)</b>, an American composer and pianist, became a central figure in the fusion of classical and popular music in the early 20th century.
            Born on September 26, 1898, in Brooklyn, New York, Gershwin displayed a natural aptitude for music and rose to fame as a songwriter in the thriving Tin Pan Alley scene.
            His groundbreaking compositions, including "Rhapsody in Blue" and "An American in Paris," epitomize the intersection of jazz, blues, and classical elements, defining the sound of the Roaring Twenties.
            Gershwin's ability to seamlessly blend genres extended to his numerous Broadway musicals, such as "Porgy and Bess" and "Girl Crazy."
            Tragically, he passed away at the young age of 38 on July 11, 1937, but his enduring legacy lives on through his timeless melodies, innovative harmonies, and contributions to the American musical landscape.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/0U-IXWaapx4?si=afR3PJzFbZAaqT0R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9HI62_udgEI?si=AT2Nl4qWZmJdfUCG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/n7FgHbBwuSs?si=cv0vKBDqwautMpDn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{% endblock %}
