{% extends "layout.html" %}

{% block title %}
    Handel
{% endblock %}

{% block header %}
George Frideric Handel
{% endblock %}

{% block main %}
    <div class="container">
        <img alt="handel"src="https://upload.wikimedia.org/wikipedia/commons/f/fa/George_Frideric_Handel_by_Balthasar_Denner.jpg"  width ="450" height = "600">

        <p class = "card1"> <b>George Frideric Handel (1685-1759)</b>, a German-born composer of the Baroque era, has established himself as one of the leading figures in the history of Baroque music.
            Born in Halle, Germany, Handel spent much of his career in England, where he became a naturalized citizen.
            Renowned for his exceptional compositional skill, Handel made significant contributions to various musical forms, but is particularly celebrated for his operas, oratorios, and instrumental works.
            His best-known compositions include the oratorio "Messiah," featuring the iconic "Hallelujah" chorus, and the Water Music suites.
            Handel's music is characterized by its dramatic intensity, melodic richness, and profound emotional expression, making him a key figure in the Baroque period and leaving an enduring legacy in the realm of Western classical music.</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Gs60o3SZKK0?si=RMVnPrpjbweqmptq&amp;start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QqAcODiE3WQ?si=VJUpq9ucIsuKORWV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ApCL2GomTD4?si=DL6wrP8aMkkA4q_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

{% endblock %}
