{% extends "layout.html" %}

{% block title %}
    Liszt
{% endblock %}

{% block header %}
Franz Liszt
{% endblock %}

{% block main %}
    <div class="container">
        <img height = 50% width=50% alt="liszt" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Franz_Liszt_1858.jpg">

        <p class = "card1"> <b>
            Franz Liszt (1811–1886)</b> was a Hungarian composer and virtuoso pianist.
            Renowned for his innovative piano techniques and captivating performances, he left an indelible mark on the Romantic era.
            His influential compositions, such as the "Transcendental Études" and "Hungarian Rhapsodies," showcase his profound impact on music.
            Liszt's legacy extends to his role in expanding the piano repertoire and redefining the virtuoso's role.
            He passed away on July 31, 1886, leaving behind a lasting imprint on classical music.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/0FbQZCsYXVg?si=dyQZWgZJCYaquXod" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kD_HJCeaGsM?si=gCMMct67Is82Xq5T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lhW_tRmpLFs?si=O0MO4R8wfCg0SqNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

{% endblock %}
