{% extends "layout.html" %}

{% block title %}
    Mendelssohn
{% endblock %}

{% block header %}
    Felix Mendelssohn
{% endblock %}

{% block main %}
    <div class="container">
        <img alt="mendelssohn" src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-122321808-copy.jpg?crop=1xw:1.0xh;center,top&resize=640:*">
    <!-- Biographical information-->
        <p class="card1"> <b>
            Felix Mendelssohn (1809–1847)</b>, a German composer, conductor, and pianist, was a prodigious musical talent of the early Romantic period.
            Born on February 3, 1809, in Hamburg, Mendelssohn displayed exceptional musical prowess from a young age, composing prolifically and exhibiting remarkable skill as both a performer and conductor.
            His overture to "A Midsummer Night's Dream" and the "Italian" and "Scottish" Symphonies are among his most celebrated works, showcasing his ability to combine classical forms with Romantic expression.
            Mendelssohn's reverence for the works of Bach led to a revival of interest in Baroque music, contributing to his role as a key figure in the 19th-century musical renaissance.
            Despite his untimely death at the age of 38 on November 4, 1847, Mendelssohn's legacy endures through his diverse and lyrical compositions, which continue to captivate audiences worldwide.
        </p>

    <!-- Videos of famous pieces -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SEkcP8lZvZA?si=jqDKbQIr0eXmjoMj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rbXVszBUGVg?si=Er92yRwyQpiLY0ox" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2GGx8TRWFVA?si=RXvjx_8yMwTOtA4w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

{% endblock %}
