{% extends "layout.html" %}

{% block title %}
    Piece Quiz
{% endblock %}

{% block header %}
    Which piece should you listen to?
{% endblock %}

{% block script %}
<script>

    document.addEventListener('DOMContentLoaded', function(){
        let max = '';
        let romCount = 0;
        let thoughtCount = 0;
        let energyCount = 0;
        let playCount = 0;
        let rom = document.querySelectorAll ('.romantic');
        let thought = document.querySelectorAll ('.thoughtful');
        let energy = document.querySelectorAll ('.energetic');
        let play = document.querySelectorAll ('.playful');
        let submit = document.querySelector ('.submit');


        for (let i = 0; i < rom.length; i++){
            rom [i].addEventListener('click', function(){
                romCount++;

                rom[i].style.backgroundColor = 'Gray';
                if (romCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Romantic';
                }
            });
        }

        for (let i = 0; i < thought.length; i++){
            thought[i].addEventListener('click', function(){
                thoughtCount++;
                thought[i].style.backgroundColor = 'Gray';
                if (thoughtCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Thoughtful';
                }
            });
        }

        for (let i = 0; i < energy.length; i++){
            energy[i].addEventListener('click', function(){
                energyCount++;
                energy[i].style.backgroundColor = 'Gray';
                if (energyCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Energetic';
                }
            });
        }

        for (let i = 0; i < play.length; i++){
            play [i].addEventListener('click', function(){
                playCount++;
                play[i].style.backgroundColor = 'Gray';
                if (playCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Playful';
                }
            });
        }

        submit.addEventListener('click', function(){
            submit.parentElement.querySelector('.feedback').innerHTML = max;
        });

    });

</script>
{% endblock %}

{% block main %}
    <div class="card">
        <p>Favorite breakfast food?
        </p>
        <button class="romantic" type="submit">Waffles</button>
        <button class="thoughtful" type="submit">Fruit</button>
        <button class="energetic" type="submit">Breakfast Sandwich</button>
        <button class="playful" type="submit">Omelet</button>
        <p></p>
        <button class="submit">Submit</button>
        <p class="feedback"></p>

    </div>
{% endblock %}
