{% extends "layout.html" %}

{% block title %}
    Piece Quiz
{% endblock %}

{% block header %}
    Which piece should you listen to?
{% endblock %}

{% block script %}
<script>

    document.addEventListener('DOMContentLoaded', function(){
        let max = '';
        let romCount = 0;
        let thoughtCount = 0;
        let energyCount = 0;
        let playCount = 0;
        let rom = document.querySelectorAll ('.romantic');
        let thought = document.querySelectorAll ('.thoughtful');
        let energy = document.querySelectorAll ('.energetic');
        let play = document.querySelectorAll ('.playful');
        let submit = document.querySelector ('.submit');


        for (let i = 0; i < rom.length; i++){
            rom [i].addEventListener('click', function(){
                romCount++;
                if (romCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Romantic';
                }
            });
        }

        for (let i = 0; i < thought.length; i++){
            thought[i].addEventListener('click', function(){
                thoughtCount++;
                if (thoughtCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Thoughtful';
                }
            });
        }

        for (let i = 0; i < energy.length; i++){
            energy[i].addEventListener('click', function(){
                energyCount++;
                if (energyCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Energetic';
                }
            });
        }

        for (let i = 0; i < play.length; i++){
            play [i].addEventListener('click', function(){
                playCount++;
                if (playCount == Math.max(romCount, thoughtCount, energyCount, playCount)){
                    max = 'Playful';
                }
            });
        }

        submit.addEventListener('click', function(){
            if (max == 'Romantic'){


                submit.parentElement.querySelector('.feedback').innerHTML =
                "Check out Tchaikovsky's Romeo and Juliet Overture. This piece's passion and emotion makes it perfect for those with a romantic and dreamy disposition.";

                document.getElementById('video').innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/_Od7gx3Dc-U?si=fFJzs6mjaeTpAhAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
            }

            else if (max == 'Thoughtful'){
                submit.parentElement.querySelector('.feedback').innerHTML =
                "You are in a thoughtful mood today! Check out Bach's Prelude and Fugue in C Major. The intricate counterpoint and intellectual depth in this piece can appeal to those who enjoy cerebral and thought-provoking music.";

                document.getElementById('video').innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/mKsAypz6Ou8?si=bL1MHuqB7U97-X0D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
            }

            else if (max == 'Energetic'){
                submit.parentElement.querySelector('.feedback').innerHTML =
                "You are in a energetic mood today! Check out Beethoven's Symphony No. 5 in C Minor. The powerful and iconic motifs in Beethoven's Symphony No. 5 make it an excellent choice for those who are energetic and seek dynamic experiences.";

                document.getElementById('video').innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/Ub91tOj_j_c?si=uuNEAH5gNrjK4TkW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
            }

            else if (max == 'Playful'){
                submit.parentElement.querySelector('.feedback').innerHTML =
                "You are in a playful mood today! Check out Shostakovich's Symphony No. 9 in E-flat Major. This piece is known for its whimsical and playful character, making it a great choice for those with this type of personality.";

                document.getElementById('video').innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/xytmdO-_2_0?si=z-qalXcYha_bFrg9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
            }

        });

    });

</script>
{% endblock %}

{% block main %}
    <div class="card">
        <p>What's your favorite breakfast food?
        </p>
        <input class="romantic" type="radio" name="food"><img class="smaller" src = "https://media.istockphoto.com/id/185266029/photo/waffles-with-fruit-and-maple-syrup-on-a-marble-counter.jpg?s=612x612&w=0&k=20&c=YkBBzuSLisdHiECgS_NHN6gOyOMN6exADFk-RIlfKtI=">
        <input class="thoughtful" type="radio" name="food"><img class="smaller" src = "https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4">
        <input class="energetic" type="radio" name="food"><img class="smaller" src = "https://thumbs.dreamstime.com/b/hearty-breakfast-sandwich-bagel-egg-bacon-cheese-49276509.jpg">
        <input class="playful" type="radio" name="food"><img class="smaller" src = "https://e1.pxfuel.com/desktop-wallpaper/636/691/desktop-wallpaper-most-viewed-omelette-omelette-thumbnail.jpg">

        <p>What's your spirit animal?
        </p>
        <input class="energetic" type="radio" name="animal"><img class="smaller" src = "https://t3.ftcdn.net/jpg/03/71/76/64/360_F_371766448_2M5arF5MIev80GIA8b6wSecGPQgoYeRQ.jpg">
        <input class="romantic" type="radio" name="animal"><img class="smaller" src = "https://static8.depositphotos.com/1361307/902/i/450/depositphotos_9025249-stock-photo-pigoen-flying.jpg">
        <input class="thoughtful" type="radio" name="animal"><img class="smaller" src = "https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/MA_00077427_yjtgnj.jpg">
        <input class="playful" type="radio" name="animal"><img class="smaller" src = "https://www.collinsdictionary.com/images/full/deer_123016792.jpg">

        <p>If you were a flavor of ice cream, what would you be?</p>
        <input class="energetic" type="radio" name="ice"><img class="smaller" src="https://www.acouplecooks.com/wp-content/uploads/2022/08/Mint-Chocolate-Chip-Ice-Cream-001.jpg">
        <input class="thoughtful" type="radio" name="ice"><img class="smaller" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfvlu5-4mMiao5_vmL-b1rKp9YnYbI5Q1OwsYIAmPjDg&s">
        <input class="romantic" type="radio" name="ice"><img class="smaller" src="https://www.theredheadbaker.com/wp-content/uploads/2020/10/chocolate-ice-cream-featured-1-720x720.jpg">
        <input class="playful" type="radio" name="ice"><img class="smaller" src="https://www.pbfingers.com/wp-content/uploads/2022/06/oreo-cheesecake-ice-cream-9.jpg">

        <p>If you could travel anywhere in the world right now, where would you go?</p>
        <input class="thoughtful" type="radio" name="place"><img class="smaller" src="https://t3.ftcdn.net/jpg/02/76/21/66/360_F_276216647_1VykbMxnVdFhEAussykFqv16TATSeSGV.jpg">
        <input class="romantic" type="radio" name="place"><img class="smaller" src="https://media.istockphoto.com/id/1185953092/photo/the-main-attraction-of-paris-and-all-of-europe-is-the-eiffel-tower-in-the-rays-of-the-setting.jpg?s=612x612&w=0&k=20&c=ZneUFVlR5TPCooxRV1rldUAadqLxZEvOoyVCOrtpcRQ=">
        <input class="energetic" type="radio" name="place"><img class="smaller" src="https://www.celebritycruises.com/blog/content/uploads/2021/03/what-is-japan-known-for-mt-fuji-hero-375x540.jpg">
        <input class="playful" type="radio" name="place"><img class="smaller" src="https://www.shiftcities.org/sites/default/files/styles/16_9_extra_large/public/2021-12/Brazil%20small.png?itok=oSESnnvl">

        <p>Which fictional world would you live in?</p>
        <input class="playful" type="radio" name="world"><img class="smaller" src="https://images.ctfassets.net/usf1vwtuqyxm/7EsDSrJhr0pNwUNK8lrUwY/f8d7e5101de6dda8f46c0f94673087a9/HP-Hogwarts-39PHOTOBU17074_PHUP_HP.jpg">
        <input class="thoughtful" type="radio" name="world"><img class="smaller" src="https://live.staticflickr.com/2483/3677844776_f791d6d55b_b.jpg">
        <input class="romantic" type="radio" name="world"><img class="smaller" src="https://i.pinimg.com/originals/0f/2c/c4/0f2cc4e8498ff90f32e66694ef007988.jpg">
        <input class="energetic" type="radio" name="world"><img class="smaller" src="https://images4.alphacoders.com/107/107506.jpg">

        <p>What kind of drink are you?</p>
        <input class="playful" type="radio" name="drink"><img class="smaller" src="https://thehiddenveggies.com/wp-content/uploads/2020/12/vegan-hot-chocolate-sq.jpg">
        <input class="romantic" type="radio" name="drink"><img class="smaller" src="https://www.foodandwine.com/thmb/IeLrw4kvvEF8UdPDClXXvdWJYQw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-183041146-2000-5452d6f7050e47d8b3b593673f162221.jpg">
        <input class="thoughtful" type="radio" name="drink"><img class="smaller" src="https://www.collinsdictionary.com/images/full/blackcoffee_114233497_1000.jpg">
        <input class="energetic" type="radio" name="drink"><img class="smaller" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Mexican_Coke_%2811380037365%29_%28cropped%29.jpg">


        <p></p>
        <button class="submit">Submit</button>
        <p class="feedback"></p>
        <div id = "video"></div>

    </div>
{% endblock %}
