{% extends "layout.html" %}

{% block title %}
    Prokofiev
{% endblock %}

{% block header %}
    Sergei Prokofiev
{% endblock %}

{% block main %}
    <div class="container">
        <img height=50% width=50% alt="prokofiev" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Prokofieff_%28i.e._Prokofiev%29_LCCN2014708419_Crop_2.jpg">

    <!-- Biographical information-->
        <p class="card1"> <b>

            Sergei Prokofiev (1891–1953)</b>, a Russian composer, pianist, and conductor, emerged as a significant force in 20th-century music.
            Born on April 23, 1891, in Sontsovka, Ukraine, Prokofiev displayed prodigious musical talent from a young age.
            After studying at the St. Petersburg Conservatory, he quickly gained recognition for his distinctive compositions, which bridged traditional and avant-garde elements.
            Prokofiev's work spans various genres, from ballets like "Romeo and Juliet" to symphonies, operas, and piano concertos, showcasing his diverse and dynamic musical language.
            Despite facing political challenges in the Soviet Union, Prokofiev continued to create innovative music that reflects both his Russian heritage and a modernist sensibility.
            He passed away on March 5, 1953, leaving behind a legacy as one of the most influential composers of the 20th century, known for his originality and mastery of orchestration.</p>

    <!-- Videos of famous pieces-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yH64s09G00c?si=XPg8HdxyXMrX8J-L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BS0SwRoYAW0?si=IO2h0R82FKhCBKKz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xlBCkC8SYQ?si=rW710VHcJfbKMXJG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
{% endblock %}
