{% extends "layout.html" %}

{% block title %}
    Vivaldi
{% endblock %}

{% block header %}
    Antonio Vivaldi
{% endblock %}

{% block main %}
    <div class="container">
        <img alt="vivaldi" src="https://cdn.britannica.com/30/154530-050-F327116D/Italian-composer-and-violinist-Antonio-Vivaldi.jpg" width="450" height="600">

    <!-- Biographical information-->
        <p class="card1"> <b>Antonio Vivaldi (1678-1741)</b>,
            an Italian Baroque composer and virtuoso violinist, gained fame for his innovative and expressive contributions to the world of classical music. Ordained as a priest, Vivaldi's passion for music led him to compose a vast and diverse body of work, including numerous instrumental and vocal pieces. His most renowned composition is "The Four Seasons," a set of violin concertos that vividly portray the changing seasons through evocative musical imagery. Vivaldi's influence extended beyond solo and orchestral works, encompassing sacred music, chamber music, and operas. Among his other notable compositions are "Gloria," a choral masterpiece, and "L'estro armonico," a collection of concertos that showcased Vivaldi's innovative use of harmony and form. Vivaldi's impact on Baroque music is immeasurable, and his works continue to be celebrated for their vibrant energy and expressive beauty.</p>

    <!-- Videos of famous pieces-->
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GRxofEmo3HA?si=yTyehWCawUIps_MN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OvZYhxT5Mf8?si=VD6uPxUUVQEocJ8c&amp;start=17" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QPba-i26YNA?si=fSaPt3g6HwxKDK0-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

{% endblock %}
